## General data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Data.zip failis kõik csv failid
matches = pd.read_csv("../data/match.csv")
players = pd.read_csv("../data/player.csv")
teams = pd.read_csv("../data/team.csv")
team_attributes = pd.read_csv("../data/team_attributes.csv")
player_attributes = pd.read_csv("../data/player_attributes.csv")
#leagues = pd.read_csv("../data/league.csv")
#countries = pd.read_csv("../data/country.csv")

## MODEL A (Players)

In [3]:
matches.head(3)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.0,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.8,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.5,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75

In [4]:
players.head(3)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163

In [5]:
player_attributes.head(3)

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0

In [6]:
for i, sum in enumerate(matches.isna().sum()):
    print(matches.columns[i]+"\t"*4,sum)

id				 0
country_id				 0
league_id				 0
season				 0
stage				 0
date				 0
match_api_id				 0
home_team_api_id				 0
away_team_api_id				 0
home_team_goal				 0
away_team_goal				 0
home_player_X1				 1821
home_player_X2				 1821
home_player_X3				 1832
home_player_X4				 1832
home_player_X5				 1832
home_player_X6				 1832
home_player_X7				 1832
home_player_X8				 1832
home_player_X9				 1832
home_player_X10				 1832
home_player_X11				 1832
away_player_X1				 1832
away_player_X2				 1832
away_player_X3				 1832
away_player_X4				 1832
away_player_X5				 1832
away_player_X6				 1832
away_player_X7				 1832
away_player_X8				 1832
away_player_X9				 1833
away_player_X10				 1833
away_player_X11				 1839
home_player_Y1				 1821
home_player_Y2				 1821
home_player_Y3				 1832
home_player_Y4				 1832
home_player_Y5				 1832
home_player_Y6				 1832
home_player_Y7				 1832
home_player_Y8				 1832
home_player_Y9				 1832
home_player_Y10				 1832
home_player_Y11				 1832
away_player_Y1				 1832
away_player_Y2				 1832
away_player_Y3				 1832
away_player_Y4				 1832
away_player_Y5				 1832
away_player_Y6				 1832
away_player_Y7				 1832
away_player_Y8				 1832
away_player_Y9				 1833
away_player_Y10				 1833
away_player_Y11				 1839
home_player_1				 1224
home_player_2				 1315
home_player_3				 1281
home_player_4				 1323
home_player_5				 1316
home_player_6				 1325
home_player_7				 1227
home_player_8				 1309
home_player_9				 1273
home_player_10				 1436
home_player_11				 1555
away_player_1				 1234
away_player_2				 1278
away_player_3				 1293
away_player_4				 1321
away_player_5				 1335
away_player_6				 1313
away_player_7				 1235
away_player_8				 1341
away_player_9				 1328
away_player_10				 1441
away_player_11				 1554
goal				 11762
shoton				 11762
shotoff				 11762
foulcommit				 11762
card				 11762
cross				 11762
corner				 11762
possession				 11762
B365H				 3387
B365D				 3387
B365A				 3387
BWH				 3404
BWD				 3404
BWA				 3404
IWH				 3459
IWD				 3459
IWA				 3459
LBH				 3423
LBD				 3423
LBA				 3423
PSH				 14811
PSD				 14811
PSA				 14811
WHH				 3408
WHD				 3408
WHA				 3408
SJH				 8882
SJD				 8882
SJA				 8882
VCH				 3411
VCD				 3411
VCA				 3411
GBH				 11817
GBD				 11817
GBA				 11817
BSH				 11818
BSD				 11818
BSA				 11818

In [7]:
print("LENGTH MATCHES:  ",len(matches))
print("LENGTH PLAYERS:  ",len(players))
print("LENGTH PLAYER ATTRIBUTES", len(player_attributes))

for index,col in enumerate(matches.columns):
    print(index,"     ",col)

LENGTH MATCHES:   25979
LENGTH PLAYERS:   11060
LENGTH PLAYER ATTRIBUTES 183978
0       id
1       country_id
2       league_id
3       season
4       stage
5       date
6       match_api_id
7       home_team_api_id
8       away_team_api_id
9       home_team_goal
10       away_team_goal
11       home_player_X1
12       home_player_X2
13       home_player_X3
14       home_player_X4
15       home_player_X5
16       home_player_X6
17       home_player_X7
18       home_player_X8
19       home_player_X9
20       home_player_X10
21       home_player_X11
22       away_player_X1
23       away_player_X2
24       away_player_X3
25       away_player_X4
26       away_player_X5
27       away_player_X6
28       away_player_X7
29       away_player_X8
30       away_player_X9
31       away_player_X10
32       away_player_X11
33       home_player_Y1
34       home_player_Y2
35       home_player_Y3
36       home_player_Y4
37       home_player_Y5
38       home_player_Y6
39       home_player_Y7
40       home_player_Y8
41       home_player_Y9
42       home_player_Y10
43       home_player_Y11
44       away_player_Y1
45       away_player_Y2
46       away_player_Y3
47       away_player_Y4
48       away_player_Y5
49       away_player_Y6
50       away_player_Y7
51       away_player_Y8
52       away_player_Y9
53       away_player_Y10
54       away_player_Y11
55       home_player_1
56       home_player_2
57       home_player_3
58       home_player_4
59       home_player_5
60       home_player_6
61       home_player_7
62       home_player_8
63       home_player_9
64       home_player_10
65       home_player_11
66       away_player_1
67       away_player_2
68       away_player_3
69       away_player_4
70       away_player_5
71       away_player_6
72       away_player_7
73       away_player_8
74       away_player_9
75       away_player_10
76       away_player_11
77       goal
78       shoton
79       shotoff
80       foulcommit
81       card
82       cross
83       corner
84       possession
85       B365H
86       B365D
87       B365A
88       BWH
89       BWD
90       BWA
91       IWH
92       IWD
93       IWA
94       LBH
95       LBD
96       LBA
97       PSH
98       PSD
99       PSA
100       WHH
101       WHD
102       WHA
103       SJH
104       SJD
105       SJA
106       VCH
107       VCD
108       VCA
109       GBH
110       GBD
111       GBA
112       BSH
113       BSD
114       BSA

In [8]:
cols=[]
for col in matches.columns:
    cols.append(col)

matches.isnull().groupby(cols[11:54]).size()

home_player_X1  home_player_X2  home_player_X3  home_player_X4  home_player_X5  home_player_X6  home_player_X7  home_player_X8  home_player_X9  home_player_X10  home_player_X11  away_player_X1  away_player_X2  away_player_X3  away_player_X4  away_player_X5  away_player_X6  away_player_X7  away_player_X8  away_player_X9  away_player_X10  away_player_X11  home_player_Y1  home_player_Y2  home_player_Y3  home_player_Y4  home_player_Y5  home_player_Y6  home_player_Y7  home_player_Y8  home_player_Y9  home_player_Y10  home_player_Y11  away_player_Y1  away_player_Y2  away_player_Y3  away_player_Y4  away_player_Y5  away_player_Y6  away_player_Y7  away_player_Y8  away_player_Y9  away_player_Y10
False           False           False           False           False           False           False           False           False           False            False            False           False           False           False           False           False           False           False           False           False            False            False           False           False           False           False           False           False           False           False           False            False            False           False           False           False           False           False           False           False           False           False              24140
                                                                                                                                                                                                                                                                                                                                                   True             False           False           False           False           False           False           False           False           False           False            False            False           False           False           False           False           False           False           False           False           False                  6
                                                                                                                                                                                                                                                                                                                  True            True             True             False           False           False           False           False           False           False           False           False           False            False            False           False           False           False           False           False           False           False           True            True                   1
                                True            True            True            True            True            True            True            True             True             True            True            True            True            True            True            True            True            True            True             True             False           False           True            True            True            True            True            True            True            True             True             True            True            True            True            True            True            True            True            True            True                  11
True            True            True            True            True            True            True            True            True            True             True             True            True            True            True            True            True            True            True            True            True             True             True            True            True            True            True            True            True            True            True            True             True             True            True            True            True            True            True            True            True            True            True                1821
dtype: int64

In [9]:
for i, sum in enumerate(players.isna().sum()):
    print(players.columns[i]+"\t"*4,sum)

print(len(players))

id				 0
player_api_id				 0
player_name				 0
player_fifa_api_id				 0
birthday				 0
height				 0
weight				 0
11060

In [10]:
for i, sum in enumerate(player_attributes.isna().sum()):
    print(player_attributes.columns[i]+"\t"*4,sum)

print(len(player_attributes))

id				 0
player_fifa_api_id				 0
player_api_id				 0
date				 0
overall_rating				 836
potential				 836
preferred_foot				 836
attacking_work_rate				 3230
defensive_work_rate				 836
crossing				 836
finishing				 836
heading_accuracy				 836
short_passing				 836
volleys				 2713
dribbling				 836
curve				 2713
free_kick_accuracy				 836
long_passing				 836
ball_control				 836
acceleration				 836
sprint_speed				 836
agility				 2713
reactions				 836
balance				 2713
shot_power				 836
jumping				 2713
stamina				 836
strength				 836
long_shots				 836
aggression				 836
interceptions				 836
positioning				 836
vision				 2713
penalties				 836
marking				 836
standing_tackle				 836
sliding_tackle				 2713
gk_diving				 836
gk_handling				 836
gk_kicking				 836
gk_positioning				 836
gk_reflexes				 836
183978

In [11]:


cols=[]
cols_selection = [4,5,6,8,9,10,11,12,14,16,17,18,19,20,22,24,26,27,28,29,30,31,33,34,35,37,38,39,40,41]
for i,col in enumerate(player_attributes.columns):
    if(i in cols_selection):
        cols.append(col)

player_attributes.isnull().groupby(cols).size()

overall_rating  potential  preferred_foot  defensive_work_rate  crossing  finishing  heading_accuracy  short_passing  dribbling  free_kick_accuracy  long_passing  ball_control  acceleration  sprint_speed  reactions  shot_power  stamina  strength  long_shots  aggression  interceptions  positioning  penalties  marking  standing_tackle  gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
False           False      False           False                False     False      False             False          False      False               False         False         False         False         False      False       False    False     False       False       False          False        False      False    False            False      False        False       False           False          183142
True            True       True            True                 True      True       True              True           True       True                True          True          True          True          True       True        True     True      True        True        True           True         True       True     True             True       True         True        True            True              836
dtype: int64

## MODEL B (Teams)

In [12]:
matches

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
teams.head(3)

   id  team_api_id  team_fifa_api_id    team_long_name team_short_name
0   1         9987             673.0          KRC Genk             GEN
1   2         9993             675.0      Beerschot AC             BAC
2   3        10000           15005.0  SV Zulte-Waregem             ZUL

In [14]:
team_attributes.head(3)

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover

In [15]:
print("LENGTH MATCHES:  ",len(matches))
print("LENGTH TEAMS:  ",len(teams))
print("LENGTH TEAM ATTRIBUTES", len(team_attributes))

LENGTH MATCHES:   25979
LENGTH TEAMS:   299
LENGTH TEAM ATTRIBUTES 1458

In [16]:
print(len(teams['team_api_id'].unique()))
print(len(team_attributes['team_api_id'].unique()))
print(len(matches['home_team_api_id'].unique()))
print(len(matches['away_team_api_id'].unique()))
print("------------")
for team in teams['team_api_id'].unique():
    if team not in team_attributes['team_api_id'].unique():
        print(team)
print("------------")
print(teams.loc[teams['team_api_id'] == 7947])

299
288
299
299
------------
7947
4049
6601
177361
7992
10213
9765
4064
6367
188163
7896
------------
   id  team_api_id  team_fifa_api_id team_long_name team_short_name
8   9         7947               NaN  FCV Dender EH             DEN